$blue-100: #96b9fd;
$blue-200: #7ba4fc;
$blue-300: #5081fb;
$blue-light: #2d415b;
$blue-dark: #051d3b;
$gray-light: rgb(196, 196, 196);
$gray-light-opacity: rgba(196, 196, 196, 0.2);

$font-inter: 'Inter', sans-serif;
$font-roboto: 'Roboto Mono', monospace;
