@use '../../assets/scss/variables' as v;

.profile__container {
  display: none;
  width: 106px;
  align-items: center;
  gap: 8px;

  span {
    color: #fff;
  }

  @media only screen and (min-width: 992px) {
    display: flex;
  }
}
