@use '../../assets/scss/variables' as v;

.header {
  padding: 1rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (min-width: 768px) {
    padding: 2rem 2rem 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  @media only screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    display: flex;
  }

  &__searchContainer {
    display: flex;
    gap: 22px;
    align-items: center;

    @media only screen and (min-width: 768px) {
      gap: 52px;
    }
  }

  &__iconSearch {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }

  &__input {
    display: none;
    background-color: #2d415b;
    height: 56px;
    border-radius: 8px;
    border: none;
    outline: none;
    color: #fff;
    padding: 16px 14px;
    font-size: 1rem;

    @media only screen and (min-width: 768px) {
      display: inline-block;
      width: 100%;
    }

    @media only screen and (min-width: 992px) {
      width: 752px;
    }
  }

  &__menuHamburger {
    @media only screen and (min-width: 992px) {
      display: none;
    }
  }

  &__profileContainer {
    display: none;

    @media only screen and (min-width: 992px) {
      display: block;
      width: 106px;
      display: flex;
      align-items: center;
      gap: 8px;

      span {
        color: #fff;
      }
    }
  }
}
